In [102]:
import numpy as np
import pandas as pd

Handling Null Values

In [103]:
student_table = pd.read_csv('studentlifedata.csv')
student_table.head(3)

,Timestamp,Username,University,Degree,Avg_Attendance,Avg_Study_time_per_day,Extracurricular_Activities,Avg_sleep_time,Household_Size,Workout,Free_time_Activity,University_society_member,Parents_Highest_Qaulification,GPA
0,2023/11/22 9:12:38 PM GMT+5,rayyanlaeeq@gmail.com,Fast,AI,90% - 100%,NaN,Sports,5-7 hours,5-6 members,"Yes, regularly",Reading,No,Master's Degree,3.0 - 3.9
1,2023/11/23 8:25:45 PM GMT+5,NaN,Fast NU,BS AI,90% - 100%,NaN,Sports,5-7 hours,5-6 members,"Yes, regularly",Watching TV/Movies,Yes,Master's Degree,3.0 - 3.9
2,2023/11/23 8:25:48 PM GMT+5,NaN,FAST-NU,BS-AI,90% - 100%,NaN,Gaming,5-7 hours,5-6 members,"Yes, regularly",Watching TV/Movies,No,Master's Degree,3.0 - 3.9

In [104]:
print(student_table.shape)

(209, 14)

In [105]:
student_table.isnull().sum()

Timestamp                          0
Username                         208
University                         0
Degree                             0
Avg_Attendance                     0
Avg_Study_time_per_day             3
Extracurricular_Activities         4
Avg_sleep_time                     0
Household_Size                     0
Workout                            0
Free_time_Activity                 0
University_society_member          0
Parents_Highest_Qaulification      0
GPA                                0
dtype: int64

Dropping Unnecessary columns

In [106]:
student_table = student_table.drop(['Timestamp','Username','University'],axis=1)
student_table.shape

(209, 11)

Dropping Rows containing null values in Avg_Study_time_per_day column

In [107]:
print("Shape of dataframe before dropping:", student_table.shape)
student_table = student_table.dropna(axis = 0, subset = ['Avg_Study_time_per_day'])
print("Shape after dropping:", student_table.shape)

Shape of dataframe before dropping: (209, 11)
Shape after dropping: (206, 11)

In [108]:
student_table.isnull().sum()

Degree                           0
Avg_Attendance                   0
Avg_Study_time_per_day           0
Extracurricular_Activities       4
Avg_sleep_time                   0
Household_Size                   0
Workout                          0
Free_time_Activity               0
University_society_member        0
Parents_Highest_Qaulification    0
GPA                              0
dtype: int64

In [109]:
student_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 206 entries, 3 to 208
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Degree                         206 non-null    object
 1   Avg_Attendance                 206 non-null    object
 2   Avg_Study_time_per_day         206 non-null    object
 3   Extracurricular_Activities     202 non-null    object
 4   Avg_sleep_time                 206 non-null    object
 5   Household_Size                 206 non-null    object
 6   Workout                        206 non-null    object
 7   Free_time_Activity             206 non-null    object
 8   University_society_member      206 non-null    object
 9   Parents_Highest_Qaulification  206 non-null    object
 10  GPA                            206 non-null    object
dtypes: object(11)
memory usage: 19.3+ KB

Standardizing the values of column Degree, since there are numerous variations of similar degree

In [110]:
#Finding Unique Degrees
student_table['Degree'] = student_table['Degree'].str.upper()
degrees = student_table['Degree'].unique()
print(degrees)

['BSCS' 'ARTIFICIAL INTELLIGENCE ' 'ARTIFICIAL INTELLIGENCE' 'BS-AI' 'AI'
 'BS AI' 'BS CYBER SECURITY ' 'BACHELOR OF COMPUTER SCIENCE'
 'BACHELORS IN COMPUTER SCIENCE ' 'BS' 'BBA' 'AI ' 'BS(CS' 'BS (SE)'
 'BACHELORS OF SCIENCE IN BIOLOGY' 'BS INFORMATION TECHNOLOGY ' 'BSIT'
 'BS(IT)' 'NONE ' 'BS-CS' 'COMPUTER SCIENCE '
 'BACHELORS IN SOFTWARE ENGINEERING ' "BACHELOR'S "
 'BACHELOR OF SCIENCE INFORMATION TECHNOLOGY' 'BBA ' 'MEDIA SCIENCE '
 'BSC IT' "BACHELOR'S IN COMPUTER SCIENCE " 'BE AVIONICS'
 'BACHELORS IN BUSINESS ADMINISTRATION' 'BS ACCOUNTS AND FINANCE'
 'COMPUTATIONAL FINANCE ' 'BS(SE)' 'DOCTOR OF PHARMACY '
 'COMPUTER SCIENCE AND ARTIFICIAL INTELLIGENCE' 'PHYSICS' 'BCIT'
 'BS PHYSICS ' 'BS SOFTWARE ENGINEERING' 'BS CS' 'BSE' 'BCE'
 'BSC IN PHYSICS' 'CS' 'BS(CS)' "BACHELOR'S DEGREE"
 'COMPUTER SCIENCE (BACHELORS)' "BACHELOR'S IN COMPUTER SCIENCE" 'MASTER '
 'COMPUTER SCIENCE' 'BS ARTIFICIAL INTELLIGENCE ' ' BSIT' 'BS PHYSICS'
 'BS(AI)' 'BSAI'
 'BACHELOR OF ENGINEERING ( ELECTRICAL ENGINEERING MAJOR POWER)' 'BSBT'
 "BACHELOR'S IN BIOTECHNOLOGY " 'BS-BIOTECHNOLOGY' 'BS IN BIOTECHNOLOGY '
 'BIOTECHNOLOGY ' 'BS BIOTECHNOLOGY ' 'BS (HONS) IN BIOTECHNOLOGY '
 'BS(EE) COMPUTER ENGINEERING ' 'BSCS '
 'BACHELORS IN ARTIFICIAL INTELLIGENCE' 'BBA-H'
 'BACHELORS IN COMPUTER SCIENCE' 'BACHELOR IN COMPUTER SCIENCE ' 'BS SE'
 'BACHELORS' 'MASTERS' 'BACHELOR OF SCIENCE IN SOFTWARE ENGINEERING'
 'TEXTILE ENGINEERING ' 'BACHELORS IN AI' 'BS ELECTRICAL ENGINEERING '
 'BS-BIOTECHNOLOGY ' 'BS CYBERSECURITY ' 'BS(CYS)' 'BA'
 "BACHELOR'S DEGREE (COMPUTER SCIENCE)" 'BS IT' 'BBA-MARKETING'
 'BS (MARITIME)' 'CIVIL ENGINEERING ' 'ELECTRICAL ENGINEERING ' 'EE' 'CE'
 'ELECTICAL ENGINEERING ' 'CIVIL ENGINEERING' 'ELECTRICAL ENGINEERING'
 'C.E' 'E.E' 'CYBER SECURITY ' 'BS-INDUSTRIAL MANAGEMENT '
 'SOFTWARE ENGINEERING ' 'SOFTWARE ENGINEERING' 'BACHELOR IN AI '
 "BACHELOR'S DEGREE IN COMPUTER SCIENCE " 'BSC.HONS.' 'BSC( HONS)'
 'BSC(HONS)' 'DOCTOR OF PHYSICAL THERAPY ' 'B.SC.(HONS)' 'GEOGRAPHY '
 'B.SC.HONS' 'BS GEOGRAPHY UNIVERSITY OF KARACHI ' 'MSC' 'BACHELOR '
 'BSC.(HONS)' 'BSC ' 'MSC IN GEOGRAPHY.' 'BS ARTIFICIAL INTELLIGENCE'
 'BS-COMPUTER SCIENCE' 'MSC GEOGRAPHY ']

In [111]:
#Standardization
BS_AI = ['AI', 'ARTIFICIAL']
BS_CS = ['CS', 'COMPUTER SCIENCE']
BS_Cyber_Security  = ['CYS', 'CYBER']
BS_SE  = ['SE', 'SOFTWARE']
BS_IT = ['IT', 'INFORMATION']
BS_BIT = ['BT', 'BIOTECHNOLOGY']
BBA = ['BBA', 'BUSINESS','MARKETING']
BS_EE = ['EE', 'ELECTRICAL' , 'E.E']
BE_CE = ['C.E' , 'CE', 'CIVIL']
BS_GEO = ['GEOGRAPHY']
BS_BIO = ['BIOLOGY']
BS_PHY = ['PHYSICS']
BE_Avionics = ['AVIONICS']
BS_Finance = ['FINANCE']
BS_Accounting = ['Accounting']
BS_TE = ['TEXTILE']
BS_MARITIME = ['MARITIME']
BS_Industrial = ['INDUSTRIAL']
Doctorate = ['Doctor']
def standardize_degs(name):
    if any(keyword.lower() in name.lower() for keyword in BS_AI):
        return 'BS-AI'
    elif any(keyword.lower() in name.lower() for keyword in BS_CS):
        return 'BS-CS'
    elif any(keyword.lower() in name.lower() for keyword in BS_Cyber_Security):
        return 'BS-CYS'
    elif any(keyword.lower() in name.lower() for keyword in BS_SE):
        return 'BS-SE'
    elif any(keyword.lower() in name.lower() for keyword in BS_IT):
        return 'BS-IT'
    elif any(keyword.lower() in name.lower() for keyword in BS_BIT):
        return 'BS-BT'
    elif any(keyword.lower() in name.lower() for keyword in BBA):
        return 'BBA'
    elif any(keyword.lower() in name.lower() for keyword in BS_EE):
        return 'BS-EE'
    elif any(keyword.lower() in name.lower() for keyword in BE_CE):
        return 'BE-CE'
    elif any(keyword.lower() in name.lower() for keyword in BS_GEO):
        return 'BS-GEO'
    elif any(keyword.lower() in name.lower() for keyword in BS_BIO):
        return 'BS-BIO'
    elif any(keyword.lower() in name.lower() for keyword in BS_PHY):
        return 'BS-PHY'
    elif any(keyword.lower() in name.lower() for keyword in BE_Avionics):
        return 'BE-Avionics'
    elif any(keyword.lower() in name.lower() for keyword in BS_Finance):
        return 'BS-Finance'
    elif any(keyword.lower() in name.lower() for keyword in BS_Accounting):
        return 'BS-Accounting'
    elif any(keyword.lower() in name.lower() for keyword in BS_TE):
        return 'BS-TE'
    elif any(keyword.lower() in name.lower() for keyword in BS_MARITIME):
        return 'BS-Maritime'
    elif any(keyword.lower() in name.lower() for keyword in BS_Industrial):
        return 'BS-Industrial'
    elif any(keyword.lower() in name.lower() for keyword in Doctorate):
        return 'Doctorate'
    else:
        return 'Others'
student_table['Degree'] = student_table['Degree'].apply(standardize_degs)
print(student_table['Degree'].unique())

['BS-CS' 'BS-AI' 'BS-CYS' 'Others' 'BBA' 'BS-SE' 'BE-CE' 'BS-IT'
 'Doctorate' 'BS-EE' 'BS-BT' 'BS-Industrial' 'BS-GEO']

In [112]:
student_table['Degree'].unique()

array(['BS-CS', 'BS-AI', 'BS-CYS', 'Others', 'BBA', 'BS-SE', 'BE-CE',
       'BS-IT', 'Doctorate', 'BS-EE', 'BS-BT', 'BS-Industrial', 'BS-GEO'],
      dtype=object)

In [113]:
len(student_table.loc[student_table['Degree']=='Others'])

17

One-Hot Encoding Degree column

In [114]:
degree_enc = pd.get_dummies(student_table['Degree'])
degree_enc.head()

,BBA,BE-CE,BS-AI,BS-BT,BS-CS,BS-CYS,BS-EE,BS-GEO,BS-IT,BS-Industrial,BS-SE,Doctorate,Others
3,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,False,False,False
5,False,False,True,False,False,False,False,False,False,False,False,False,False
6,False,False,True,False,False,False,False,False,False,False,False,False,False
7,False,False,True,False,False,False,False,False,False,False,False,False,False

In [115]:
# student_table = pd.concat([student_table, degree_enc], axis=1)
student_table

,Degree,Avg_Attendance,Avg_Study_time_per_day,Extracurricular_Activities,Avg_sleep_time,Household_Size,Workout,Free_time_Activity,University_society_member,Parents_Highest_Qaulification,GPA
3,BS-CS,80%-90%,5-6 hours,Academic Clubs,5-7 hours,3-4 members,Occasionally,Watching TV/Movies,Yes,Bachelor's Degree,2.0 - 2.9
4,BS-AI,80%-90%,1-2 hours,Sports,5-7 hours,5-6 members,"No, I don't",Watching TV/Movies,No,Master's Degree,3.0 - 3.9
5,BS-AI,80%-90%,1-2 hours,Sports;Volunteer Work,5-7 hours,3-4 members,Occasionally,Socializing with Friends,No,Master's Degree,2.0 - 2.9
6,BS-AI,90% - 100%,1-2 hours,I donâ€™t ðŸ—¿,5-7 hours,5-6 members,Occasionally,Playing Games,No,Master's Degree,3.0 - 3.9
7,BS-AI,80%-90%,Less than 1 hour,Sports,5-7 hours,5-6 members,Occasionally,Playing Games,Yes,Bachelor's Degree,2.0 - 2.9
...,...,...,...,...,...,...,...,...,...,...,...
204,BS-GEO,90% - 100%,1-2 hours,Arts and Culture;Volunteer Work,7-9 hours,7 or more members,"No, I don't",Reading,No,High School Diploma or Below,3.0 - 3.9
205,BS-AI,80%-90%,3-4 hours,Sports,5-7 hours,5-6 members,"No, I don't",Socializing with Friends,No,Master's Degree,2.0 - 2.9
206,BS-AI,80%-90%,1-2 hours,Academic Clubs,Less than 5 hours,5-6 members,"No, I don't",Watching TV/Movies,Yes,High School Diploma or Below,3.0 - 3.9
207,BS-CS,90% - 100%,Less than 1 hour,Sports,5-7 hours,3-4 members,"Yes, regularly",Socializing with Friends,No,Master's Degree,3.0 - 3.9
208,BS-GEO,90% - 100%,5-6 hours,Arts and Culture;Volunteer Work,5-7 hours,5-6 members,"Yes, regularly",Socializing with Friends,No,High School Diploma or Below,3.0 - 3.9

In [116]:
student_table['Avg_Attendance'].unique()

array(['80%-90%', '90% - 100%', '70%-80%', 'Below 60%', '60%-70%'],
      dtype=object)

Label Encoding Avg_Attendance column

In [117]:
from sklearn.preprocessing import LabelEncoder

In [123]:
#Below 60% is replaced by 0%-60% to avoid problems with LabelEncoder
student_table.loc[student_table['Avg_Attendance'] == 'Below 60%', 'Avg_Attendance'] = '0%-60%'

In [124]:
# Set up the LabelEncoder object
enc = LabelEncoder()

# Apply the encoding to the "Accessible" column
student_table['Avg_Attendance_enc'] = enc.fit_transform(student_table['Avg_Attendance'])

# Compare the two columns
print(student_table[['Avg_Attendance', 'Avg_Attendance_enc']].head())

  Avg_Attendance  Avg_Attendance_enc
3        80%-90%                   3
4        80%-90%                   3
5        80%-90%                   3
6     90% - 100%                   4
7        80%-90%                   3

In [125]:
student_table['Avg_Attendance_enc'].unique()

array([3, 4, 2, 0, 1])

In [127]:
student_table.loc[student_table['Avg_Attendance_enc']==0]

,Degree,Avg_Attendance,Avg_Study_time_per_day,Extracurricular_Activities,Avg_sleep_time,Household_Size,Workout,Free_time_Activity,University_society_member,Parents_Highest_Qaulification,GPA,Avg_Attendance_enc
32,Others,0%-60%,3-4 hours,Sports,7-9 hours,7 or more members,"No, I don't",Watching TV/Movies,No,Master's Degree,4,0
81,BS-CS,0%-60%,Less than 1 hour,Sports,Less than 5 hours,1-2 members,"No, I don't",noting,No,High School Diploma or Below,0.0 - 1.9,0
142,BS-IT,0%-60%,Less than 1 hour,Sports,More than 9 hours,1-2 members,"No, I don't",Socializing with Friends,No,Doctorate or Professional Degree,0.0 - 1.9,0
167,BS-EE,0%-60%,5-6 hours,Sports;Arts and Culture;Volunteer Work,5-7 hours,3-4 members,"No, I don't",Playing Games,Yes,Master's Degree,3.0 - 3.9,0